/* Changes to Common */
div#content{
  background: none;
}

div#leftPanel{
	 width: 690px; 
	margin-top: 15px;
	background: none;
	border: none;
}

h2.eventTitle{
	color: #000;!important
}

/* Email RSVP Forms */
div.eventSummary{
	font-size: 20px;
	margin: 10px 0;
}

div.emailForm{
 padding: 10px 0 0 0;
 width: 300px;
 margin: auto;
 font-size: 17px;
}


div.emailForm div.formLine{
 padding-top: 5px;
 margin-left: 5px;
}

div.emailForm label{
	width: 65px;
	font-weight: bold;	
}


div.emailForm div.formButtons{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
}

div.emailForm div.formButtons input{
	color: #4AED05;
	background-color: #000;
	font-weight: bold;
	font-size: 16px;
	border: 0px none;
	width: 80%;
	height: 25px;
}

div.formButtons input:hover {
cursor: pointer; /* cursor: hand; for IE5 */
}

/* End RSVP */

div.headline-event{
 text-align: left;
 padding: 5px;
/* background: #ccc; */
 margin: 5px 0;
 min-height: 120px;
 background: white url("../images/headline_bg.jpg") top left repeat-x;
 border: 1px #ccc solid;
 border-radius: 15px;
}

div.headline-event.internal{
 background: black url("../images/black_headline_bg.jpg") bottom right no-repeat;
 color: white;
}

div.headline-event.internal a,  div.headline-event.internal a:visited{
	color: #4AED05;
}

div.headline-event.internal div.event-title a:hover{
	color: #fff;
}

div.headline-event div.event-date{
	display: inline-block;
	width: 49%;
	*display: inline;
	zoom: 1;
}

div.headline-event div.event-title{
	font-size: 19px;
	font-weight: bold;
	border-bottom: 1px #ccc solid;
}



div.headline-event.internal div.event-title{
 color: #4AED05;
}

div.headline-event div.event-time{
	display: inline-block;
	width: 49%;
	text-align: right;
	*display: inline;
	zoom: 1;
}

div.headline-event div.event-location{
	font-style:italic;	
	margin-left: 10px;
}

div.headline-event div.event-details{
	margin: 10px 0;
}
